---
http_interactions:
- request:
    method: post
    uri: https://api.kycaid.com/applicants
    body:
      encoding: UTF-8
      string: dob=1986-05-03&email=john_baker%40gmail.com&first_name=John&last_name=Baker&residence_country=GB&sandbox=true&type=PERSON
    headers:
      Authorization:
      - Token d9883415047de3439328df17b0310569669a
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"37-+FIdGRzGZNUi0/oITrd3vW0ARIU"
    body:
      encoding: UTF-8
      string: '{"applicant_id":"12d54307065b094d4d1b7587a0444181c6f8"}'
  recorded_at: Sat, 17 Sep 2022 09:35:06 GMT
- request:
    method: post
    uri: https://api.kycaid.com/applicants
    body:
      encoding: UTF-8
      string: dob=1986-05-03&email=john_baker%40gmail.com&first_name=John&last_name=Baker&residence_country=GB&sandbox=true
    headers:
      Authorization:
      - Token d9883415047de3439328df17b0310569669a
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"60-mMiFAU8TUlADfEgp8fNp3Z3uSVk"
    body:
      encoding: UTF-8
      string: '{"type":"validation","errors":[{"parameter":"type","message":"Type
        of applicant is not valid"}]}'
  recorded_at: Sat, 17 Sep 2022 09:35:07 GMT
[...]
- request:
    method: get
    uri: https://api.kycaid.com/applicants/ac3088a60f6679477b1b1627b4d50e12168c?sandbox=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token d9883415047de3439328df17b0310569669a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2b1-nlulzlC+huZkO+YUGFMuTMpWW7A"
    body:
      encoding: UTF-8
      string: '{"applicant_id":"ac3088a60f6679477b1b1627b4d50e12168c","external_applicant_id":null,"type":"PERSON","created_at":"2022-09-17
        09:03:48","profile_status":null,"profile_comment":null,"first_name":"John","origin_first_name":null,"middle_name":null,"origin_middle_name":null,"last_name":"Baker","origin_last_name":null,"residence_country":"GB","dob":"1986-05-03","gender":null,"email":"john_baker@gmail.com","phone":null,"wallet_address":null,"telegram_username":null,"pep":null,"custom_field_1":null,"custom_field_2":null,"custom_field_3":null,"custom_field_4":null,"custom_field_5":null,"decline_reasons":[],"addresses":[],"documents":[],"verification_status":"new","verifications_count":"0"}'
  recorded_at: Sat, 17 Sep 2022 09:35:13 GMT
- request:
    method: get
    uri: https://api.kycaid.com/applicants/12d54307065b094d4d1b7587a0444181c6f8?sandbox=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token d9883415047de3439328df17b0310569669a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2af-b+yLdvvrAWgj/3HjRHz3rNuj4MA"
    body:
      encoding: UTF-8
      string: '{"applicant_id":"12d54307065b094d4d1b7587a0444181c6f8","external_applicant_id":null,"type":"PERSON","created_at":"2022-09-17
        09:35:06","profile_status":null,"profile_comment":null,"first_name":"John","origin_first_name":null,"middle_name":null,"origin_middle_name":null,"last_name":"Baker","origin_last_name":null,"residence_country":"GB","dob":"1986-05-03","gender":null,"email":"john_baker@gmail.com","phone":null,"wallet_address":null,"telegram_username":null,"pep":null,"custom_field_1":null,"custom_field_2":null,"custom_field_3":null,"custom_field_4":null,"custom_field_5":null,"decline_reasons":[],"addresses":[],"documents":[],"verification_status":"new","verifications_count":0}'
  recorded_at: Sat, 17 Sep 2022 09:36:00 GMT
recorded_with: VCR 6.1.0
